.sidenav-container {
  height: 100%;
}

mat-toolbar {
  z-index: 99;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

mat-toolbar a mat-icon {
  font-size: 34px;
  margin-top: -10px;
  vertical-align: middle;
}

#logo{
  margin-top: 20px;
}

.nav{
  float: right;
}

@media(max-width: 768px){
  #logo{
    margin-top: 0;
  }
}