<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset | async)!.matches }" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="auth.isLogedIn" routerLink="/add-cafe" routerLinkActive="active">Додати кафе</a>
      <a mat-list-item routerLink="admin" routerLinkActive="admin">Admin</a>
      <a mat-list-item *ngIf="!auth.isLogedIn" routerLink="/sign-up" routerLinkActive="active">Зареєструватись</a>
      <a mat-list-item *ngIf="!auth.isLogedIn" routerLink="/sign-in" routerLinkActive="active">Увійти</a>
      <a mat-list-item *ngIf="auth.user | async as user" (click)="auth.signOut()">Вийти
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="home" routerLinkActive="active">Application Title</a>
      <span class="spacer"></span>
      <span *ngIf="!(isHandset | async)!.matches">
        <a *ngIf="auth.isLogedIn" routerLink="/add-cafe" routerLinkActive="active">Додати кафе</a>
        <a routerLink="admin" routerLinkActive="admin">Admin</a>
        <a *ngIf="!auth.isLogedIn" routerLink="/sign-up" routerLinkActive="active">Зареєструватись</a>
        <a *ngIf="auth.isLogedIn" routerLink="/sign-in" routerLinkActive="active">Увійти</a>
        <a *ngIf="auth.isLogedIn" (click)="auth.signOut()" matTooltip="Вийти">
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
