<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset | async)!.matches }" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  id="logo" routerLink="home" routerLinkActive="active">CafeSpace</a>
      <a mat-list-item routerLink="/map" routerLinkActive="active">Карта</a>
      <a mat-list-item *ngIf="authService.isLogedIn && user?.uid" [routerLink]="['/user', user?.uid]" routerLinkActive="active">Мій профіль</a>
      <a mat-list-item *ngIf="authService.isLogedIn" routerLink="/add-cafe" routerLinkActive="active">Додати заклад</a>
      <a mat-list-item *ngIf="authService.isLogedIn && user?.role === 'admin'" routerLink="admin" routerLinkActive="admin">Admin</a>
      <a mat-list-item *ngIf="!authService.isLogedIn" routerLink="/sign-up" routerLinkActive="active">Зареєструватись</a>
      <a mat-list-item *ngIf="!authService.isLogedIn" routerLink="/sign-in" routerLinkActive="active">Увійти</a>
      <a mat-list-item *ngIf="authService.user | async as user" (click)="auth.signOut()">Вийти
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="wrapper">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a id="logo" routerLink="home" routerLinkActive="active">CafeSpace</a>
        <span class="spacer"></span>
        <p class="nav clearfix" *ngIf="!(isHandset | async)!.matches">
          <a routerLink="/map" routerLinkActive="active">Карта</a>
          <a *ngIf="authService.isLogedIn && user?.uid" [routerLink]="['/user', user?.uid]" routerLinkActive="active">Мій профіль</a>
          <a *ngIf="authService.isLogedIn" routerLink="/add-cafe" routerLinkActive="active">Додати заклад</a>
          <a *ngIf="authService.isLogedIn && user?.role === 'admin'" routerLink="admin" routerLinkActive="admin">Admin</a>
          <a *ngIf="!authService.isLogedIn" routerLink="/sign-up" routerLinkActive="active">Зареєструватись</a>
          <a *ngIf="!authService.isLogedIn" routerLink="/sign-in" routerLinkActive="active">Увійти</a>
          <a *ngIf="authService.isLogedIn" (click)="authService.signOut()" matTooltip="Вийти">
            <mat-icon>exit_to_app</mat-icon>
          </a>
        </p>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>