<div class="container">
  <div class="wrapper">
    <div class="main_content clearfix">
      <mat-card>
        <h1>{{cafe?.cafeName | uppercase}}</h1>
        <p>Тип закладу: {{ getCafetype(cafe?.cafeType) }}</p>

        <app-rating [cafeRating]="cafe?.avRating"></app-rating>
        <ngx-gallery *ngIf="cafe" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

        <p>{{cafe?.description}}</p>

        <div class="table-container">
          <table mat-table [dataSource]="cafe?.tables">
            <ng-container matColumnDef="visitors">
              <th mat-header-cell *matHeaderCellDef> Вміщає </th>
              <td mat-cell *matCellDef="let table"> {{table.visitorsNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Столики </th>
              <td mat-cell *matCellDef="let table"> {{table.tablesNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="reserved">
              <th mat-header-cell *matHeaderCellDef> Резерв </th>
              <td mat-cell *matCellDef="let table"> {{table.booked}}</td>
            </ng-container>

            <ng-container matColumnDef="freeTables">
              <th mat-header-cell *matHeaderCellDef> Вільні </th>
              <td mat-cell *matCellDef="let table"> {{table.tablesNumber - table.booked}}</td>
            </ng-container>

            <ng-container  matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let table" class="reserved">
                <button  *ngIf="!user?.reserved.cafeId" (click)="book(table, table.tablesNumber, table.booked)" mat-raised-button color="primary">Резерв</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <app-rating [cafeId]="cafeId"></app-rating>



      </mat-card>
    </div>

    <div class="cafes clearfix">
      <div samehHeight="cafe__list">
        <app-cafe-list *ngFor="let key of (cafes | async )" [cafe]="key"></app-cafe-list>
      </div>
    </div>
  </div>
</div>