.container  {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  background-image: url(../../../assets/images/cafe2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.wrapper{
  margin: 30px auto 100px auto;
}

.main_content{
  width: 65%;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.cafes {
  margin-left: -8px;
  margin-bottom: 20px;
}

.card {
  background: #0c0407db;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.table {
  background: #30303042;
}

table {
  width: 100%;
}

.reserved{
  text-align: center;
}

.reservation-detail{
  margin: 5px 0;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  margin: 5px 9px;
}

.main__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__photo {
  float: left;
}

.main__photo img{
  width: 220px;
}

.gallery-container{
  margin-top: 30px;
}

.gallery li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.gallery li img {
  width: 120px;
  height: 90px;
}

.gallery li .mat-icon, .main__photo .mat-icon{
  vertical-align: top;
}

.gallery li .material-icons, .main__photo .material-icons{
  cursor: pointer;
  font-size: 20px;
  margin-top: -12px;
  margin-left: -15px;
}

.description .mat-form-field{
  display: block;
  width: 100%;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary, mat-icon {
  cursor: pointer;
}

.tables-quantity{
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.tables-quantity .mat-form-field{
  display: inline-block;
}

.tables-quantity .mat-form-field:first-child{
  width: 40%;
  margin-right: 11%;
}

.tables-quantity .mat-form-field:last-child{
  width: 48%;
}

.tables-quantity .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
  margin-top: 25px;
}

tr.detail-row {
  height: 0;
}

tr.table-row:not(.expanded-row):hover {
  background: #747c80;
}

tr.table-row:not(.expanded-row):active {
  background: #747c80;
}

td.mat-cell:last-child,
th.mat-header-cell:last-child {
  padding-right: 4px;
}

.comment_block{
  margin-top: 15px;
  flex-direction: column;
  display: flex; 
  background: #0c0407db;
}

@media(max-width: 1175px){
  .main_content{
    width: 64%;
  }
}

@media(max-width: 1000px){
  .main_content{
    margin-top: 10px;
  }
}

@media(max-width: 882px){
  .main_content{
    width: 96%;
  }

  app-cafe-list{
    display: none;
  }
}

@media(max-width: 882px){
  .main_content{
    width: 95%;
  }
}

@media(max-width: 550px){
  .main_content{
    width: 94%;
  }
}

@media(max-width: 430px){
  .main_content{
    width: 92%;
  }

  .mat-card h1{
    font-size: 25px;
    padding: 0;
    margin: 0;
  } 

  .mat-card p {
    font-size: 13px;
  }

  th.mat-header-cell:first-child {
    padding-left: 10px;
  }

  .mat-raised-button {
    min-width: 66px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 12px;
  }
}

@media(max-width: 380px){
  .mat-header-cell {
    font-size: 11px;
  }
}

@media(max-width: 340px){
  .main_content{
    margin-left: 10px;
  }
  
  .main_content{
    width: 93%;
  }

  th.mat-header-cell:first-child {
    padding-left: 5px;
  }

  .mat-raised-button {
    min-width: 55px;
  }
}