<div class="login-page-body">
  <div class="sign-container">
    <div class="sign-info-container">
      <h3>CafeSpace</h3>
      <button routerLinkActive="active" routerLink="/sign-in" mat-raised-button color="primary">Увійти</button>
      <p>Вже маєте аккаунт?</p>
    </div>
    <div class="or-container">or</div>
    <div class="sign-form-container">
      <div class="social-icons-container">
        <svg (click)="auth.googleSignUp()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
          id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"
          width="30px" height="30px" class="">
          <g>
            <path style="fill:#7C0F0F" d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256  c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456  C103.821,274.792,107.225,292.797,113.47,309.408z"
              data-original="#FBBB00" class="active-path" data-old_color="#7c0f0f" />
            <path style="fill:#7C0F0F" d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451  c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535  c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"
              data-original="#518EF8" class="" data-old_color="#7c0f0f" />
            <path style="fill:#7C0F0F" d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512  c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771  c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"
              data-original="#28B446" class="" data-old_color="#7c0f0f" />
            <path style="fill:#7C0F0F" d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012  c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0  C318.115,0,375.068,22.126,419.404,58.936z"
              data-original="#F14336" class="" data-old_color="#7c0f0f" />
          </g>
        </svg>
        <svg (click)="auth.facebookSignUp()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
          id="Capa_1" x="0px" y="0px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve"
          width="30px" height="30px" class="">
          <g>
            <g>
              <path id="f_1_" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z"
                data-original="#010002" class="active-path" data-old_color="#7c0f0f" fill="#7c0f0f" />
            </g>
          </g>
        </svg>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-form-field>
          <input type="text" autocomplete="off" matInput required placeholder="Ваше ім'я" formControlName="name">
          <mat-hint>Введіть ваше ім'я.</mat-hint>
          <mat-error>Введіть ваше ім'я.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput required placeholder="Ваш емейл" formControlName="email">
          <mat-hint>Введіть ваш емейл.</mat-hint>
          <mat-error>Невірний формат емейлу.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput required placeholder="Ваш пароль" formControlName="password">
          <mat-hint>Введіть ваш пароль.</mat-hint>
          <mat-error>Пароль повинен складатись не менше ніж з 6 символів.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput required placeholder="Підтвердити пароль" formControlName="confirmPassword">
          <mat-hint>Введіть ваш пароль ще раз.</mat-hint>
          <mat-error>Паролі не збігаються</mat-error>
        </mat-form-field>
        <button id="send" *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Зареєструватись</button>
        <mat-spinner [diameter]="60" *ngIf="isLoading"></mat-spinner>
      </form>
    </div>
  </div>
</div>