<div class="details-page__wrapper-dark">
  <svg class="background-gradient__circle" viewBox="4572 73 1328 1328">
    <defs>
      <linearGradient gradientUnits="objectBoundingBox" id="ddd" x2="0" y2="1">
        <stop offset="0" stop-color="#ff8b8b"></stop>
        <stop offset="1" stop-color="#6676ff"></stop>
      </linearGradient>
    </defs>
    <circle cx="664" cy="664" fill="url(#ddd)" r="664" transform="translate(4572 73)"></circle>
  </svg>

  <div class="container">
    <div class="content-container">
      <div class="title-container">
      </div>
      <form>


        <!-- 
          <button mat-raised-button color="primary" (click)="uploadSingle()">Send</button>
          <input #fileInput type="file" (change)="detectFiles($event)"  accept=".png,.jpg" /> -->

        <div *ngIf="progress$ | async as p">
          {{p}} %
          <mat-progress-bar mode="determinate" [value]="p"></mat-progress-bar>
        </div>

        <button mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        {{ imgFileInput?.files[0]?.name }}
        <input hidden type="file" #imgFileInput (change)="uploadSingle($event)" accept=".png,.jpg" />
        <mat-hint>Додати основне фото закладу.</mat-hint>

        <div *ngIf="currentUpload && gallery.length === 0">
          <img style="max-width: 300px" [src]="currentUpload?.url || ''" [alt]="currentUpload?.name || ''">
        </div>
        <div *ngIf="currentUpload">
            <p  *ngFor="let img of gallery">
                <img style="max-width: 100px" [src]="img || ''" [alt]="currentUpload?.name || ''">
            </p>
         
          </div>

        <label>
            <input type="file" (change)="selectFiles($event)" multiple>
         </label>
        <button [disabled]="!selectedFiles" (click)="uploadMulti()">Upload Multipl</button>

        
        <mat-chip *ngFor="let img of selectedImages" (removed)="removeImg(img)">
            {{img.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
  

        <mat-form-field>
          <input type="text" matInput required placeholder="Назва кафе">
          <mat-hint>Введіть назву кафе.</mat-hint>
          <mat-error>Назва кафе повинна складатись не менше ніж з 2 символів.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Тип закладу" required>
            <mat-option *ngFor="let cafe of cafeTypes" [value]="cafe.value">
              {{cafe.viewValue}}
            </mat-option>
          </mat-select>
          <mat-hint>Виберіть тип закладу</mat-hint>
          <mat-error>Виберіть тип закладу</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="search" matInput required placeholder="Розташування закладу" autocorrect="off" autocapitalize="off" spellcheck="off"
            class="form-control" #search [formControl]="searchControl">
          <mat-hint>Введіть місце розташування закладу.</mat-hint>
          <mat-error>Введіть місце розташування закладу.</mat-error>
          <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map> -->
        </mat-form-field>

        <div class="tables-quantity">
          <mat-chip-list #chipList>
            <mat-form-field>
              <input type="number" matInput required #tablesNumber placeholder="Кількість столів">
              <mat-hint>Введіть кількість столів.</mat-hint>
              <mat-error>Заповніть два поля.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="number" matInput required #visitorsNumber placeholder="Кількість гостей">
              <mat-hint>Введіть кількість гостей, яку вміщає один такий стіл.</mat-hint>
              <mat-error>Заповніть два поля.</mat-error>
            </mat-form-field>

          </mat-chip-list>
          <mat-chip color="primary" selected="true" (click)="onAddTables(tablesNumber, visitorsNumber)">Додати</mat-chip>
        </div>

        <mat-chip *ngFor="let table of tables" (removed)="remove(table)">
          {{table.tablesNumber}} столи, віміщає {{table.visitorsNumber}} гостей
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <mat-form-field>
          <textarea matInput placeholder="Опис закладу"></textarea>
          <mat-hint>Введіть короткий опис закладу</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button (click)=send() color="primary">Додати</button>
      </form>
    </div>
  </div>
</div>
