<div class="details-page__wrapper-dark clearfix">
  <svg class="background-gradient__circle" viewBox="4572 73 1328 1328">
    <defs>
      <linearGradient gradientUnits="objectBoundingBox" id="gradient" x2="0" y2="1">
        <stop offset="0" stop-color="#ff8b8b"></stop>
        <stop offset="1" stop-color="#6676ff"></stop>
      </linearGradient>
    </defs>
    <circle cx="664" cy="664" fill="url(#gradient)" r="664" transform="translate(4572 73)"></circle>
  </svg>
  <div class="wrapper clearfix">
  <div class="container">

      <div class="title-container">
      </div>
      <form [formGroup]="addCafeForm" >
        <div class="progress" *ngIf="progress$ | async as progress">
          {{progress}} %
          <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>

        <button mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        <input required hidden type="file" #imgFileInput (change)="uploadSingle($event)" accept=".png,.jpg" />
        <mat-hint> Додати основне фото закладу.</mat-hint>

        <div class="main__photo" *ngIf="mainImgSrc?.url">
          <img [src]="mainImgSrc?.url" [alt]="currentUpload?.name">
          <mat-icon (click)="imageUploadService.removeImg(currentUpload.fullPath, currentUpload.thumbnailPath); mainImgSrc =''">cancel</mat-icon>
        </div>

        <div class="gallery-container">
          <button mat-button color="accent" mat-mini-fab (click)="imgMulti.click()">
            <mat-icon>attachment</mat-icon>
          </button>
          <input hidden type="file" #imgMulti (change)="uploadMulti($event)" multiple accept=".png,.jpg">
          <mat-hint> Додати фото для галереї закладу.</mat-hint>
          <div *ngIf="gallery.length !== 0">
            <ul class="gallery">
              <li *ngFor="let img of gallery">
                <img [src]="img.url" [alt]="currentUpload?.name">
                <mat-icon (click)="removeGalleryImg(img)">cancel</mat-icon>
              </li>
            </ul>
          </div>
        </div>

        <mat-form-field>
          <input type="text" autocomplete="off" matInput required placeholder="Назва закладу" formControlName="cafeName">
          <mat-hint>Введіть назву закладу.</mat-hint>
          <mat-error>Назва закладу повинна складатись не менше ніж з 2 символів.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="tel" autocomplete="off" matInput required placeholder="Номер телефону" formControlName="phoneNumber">
          <mat-hint>Введіть номер телефону.</mat-hint>
          <mat-error>Номер телефону повинен складатись з 12 цифр.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Тип закладу" required formControlName="cafeType">
            <mat-option *ngFor="let cafe of cafeTypes" [value]="cafe.value">
              {{cafe.viewValue}}
            </mat-option>
          </mat-select>
          <mat-hint>Виберіть тип закладу</mat-hint>
          <mat-error>Виберіть тип закладу</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="search" matInput required placeholder="Розташування закладу" autocorrect="off" autocapitalize="off" spellcheck="off"
            class="form-control" #search formControlName="searchControl">
          <mat-hint>Введіть місце розташування закладу.</mat-hint>
          <mat-error>Введіть місце розташування закладу.</mat-error>
        </mat-form-field>

        <div class="tables-quantity">
          <mat-chip-list #chipList>
            <mat-form-field>
              <input type="number" autocomplete="off" matInput required #tablesNumber placeholder="Кількість столів">
              <mat-hint>Введіть кількість столів.</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input type="number" autocomplete="off" matInput required #visitorsNumber placeholder="Кількість гостей">
              <mat-hint>Введіть кількість гостей, яку вміщає один такий стіл.</mat-hint>
            </mat-form-field>

          </mat-chip-list>
          <mat-chip color="primary" selected="true" (click)="onAddTables(tablesNumber, visitorsNumber)">Додати</mat-chip>
        </div>

        <mat-chip *ngFor="let table of tables" (removed)="removeTables(table)">
          {{table.tablesNumber}} столи, віміщає {{table.visitorsNumber}} гостей
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <mat-form-field>
          <textarea matInput placeholder="Опис закладу" formControlName="description"></textarea>
          <mat-hint>Введіть короткий опис закладу</mat-hint>
          <mat-error>Короткий опис повинен складатись не менше ніж з 12 символів.</mat-error>
        </mat-form-field>

        <button *ngIf="!isLoading" class="btn_submit" mat-raised-button [disabled]="addCafeForm.invalid" (click)="addCafe()" color="primary">Додати заклад</button>
        <mat-spinner [diameter]="60" *ngIf="isLoading"></mat-spinner>
      </form>
    </div>
  </div>
</div>