.container {
  background-image: url(../../assets/images/lviv2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  margin: 30px auto 100px auto;
}

.mat-card {
  background: #0c0407b3;
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.cafe-list {
  width: 35%;
  float: left;
}

.cafe-detail {
  width: 60%;
  margin-bottom: 20px;
  float: right;
}

mat-list {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0 0 15px 0;
}

.mat-list p {
  text-align: center;
  background: #000;
  margin: 0;
  padding: 10px 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 10px;
}

.mat-list .mat-list-item {
  height: 30px;
}

.rated-items:hover {
  cursor: pointer;
  background: #747c80;
}

.selected{
  margin-top: 50px;
}

.btn_reject {
  float: right;
}

.approved{
  padding: 5px;
  border-radius: 20px;
  background: #5CB85C;
  font-size: 12px;
  float: right;
}

.not-approved{
  padding: 6px;
  border-radius: 15px;
  background: #D9534F;
  font-size: 12px;
  float: right;
}
mat-chip-list{
  margin: 4px 8px;
}

mat-chip, mat-icon{
  cursor: pointer;
}

.mat-standard-chip {
  padding: 4px 12px;
}
