@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@include mat-core();

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.mat-toolbar.mat-primary {
  position: relative;
}
