<div myMatchHeight="cafe__list">
  <div class="wrapper">
    <mat-form-field>
      <input type="text" [(ngModel)]="searchterm" (keyup)="search($event)" matInput placeholder="Пошук" autocorrect="off" autocapitalize="off"
        spellcheck="off" autocomplete="off" class="form-control">
    </mat-form-field>

    <div *ngFor="let cafe of (cafes | async ) ">
      <div class="list">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{cafe.cafeName}}</mat-card-title>
            <mat-card-subtitle>Тип кафе: {{ getCafetype(cafe.cafeType) }}</mat-card-subtitle>
          </mat-card-header>
          <div class="image-thumb">
            <img class="img img-responsive" mat-card-image [src]="cafe.mainImgSrc.thumbnailUrl">
          </div>

          <mat-card-content class="cafe__list">
            <p>Адреса: {{ cafe.coords }}</p>
            <p>Вільних столиків залишилось: {{ getFreeTables(cafe.tables) }}</p>
            <p>Рейтинг {{cafe.avRating}}</p>
            <span class="stars">
              <span [ngStyle]="{ 'width': cafe?.avRating*20 + '%' }"></span>
            </span>
          </mat-card-content>
          <app-rating [cafeId]="cafe.id" ></app-rating>
        </mat-card>
      </div>
    </div>
  </div>
</div>