.content {
  overflow: auto;
  max-height: 100vh;
  width: 100vw;
}
.space{
  display: flex;
  width: 100%;
  height: 100px;
}

.mat-progress-spinner {
  margin: 0 auto;
  display: flex;
}

.list {
  width: 33.333333%;
  float: left;
}

.content-card {
  margin: 15px;
}

.mat-card {
  padding: 24px 0;
}

.image-thumb {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 200px;
  overflow: hidden;
}

.image-thumb img {
  width: 100%;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

.cafe__list{
  padding: 8px;
}

.rating_number{
  float: left;
  margin-top: 2px;
}

.stars{
  margin-left: 25px;
}

span.stars,
span.stars span {
  display: block;
  background: url("../../assets/images/stars2.png") 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
  width: 50%;
}

.mobile{
  margin-top: 15px;
  display: block;
}
