.main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

$red: red;
h1 {
  color: $red;
}

.content-card {
  margin: 15px;
}

.list {
  width: 33.333333%;
  float: left;
}

.mat-card {
  padding: 24px 0;
}

.image-thumb {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 200px;
  overflow: hidden;
}

.image-thumb img {
  width: 100%;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

.cafe__list{
  padding: 8px;
}

.rating_number{
  float: left;
  margin-top: 2px;
}

.stars{
  margin-left: 25px;
}

span.stars,
span.stars span {
  display: block;
  background: url("../../assets/images/stars2.png") 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
  width: 50%;
}

.mobile{
  margin-top: 15px;
  display: block;
}

.content{

  height: 100vh;
  overflow: auto;
}
// .tag{
//     font-size: 2.2em;
// }
.s{
  
  height: 100%;
}